<title>Team SolarSentinel</title>

<style>
    * {
        font-family: 'JetBrains Mono'
    }
</style>

<p>Loading...</p>

<script>
    function redirect() {
        window.location.href = "https://www.spaceappschallenge.org/2023/find-a-team/solarsentinel/";
    }
    redirect();
</script>